__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib
.venv/
.env
.env.*
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
pip-wheel-metadata/
.ipynb_checkpoints/